<html>
    <head>
        <title>
            Join Us
        </title>
    </head>
    <body>
        <form action="" method="post">
            <table>
                <tr>
                    <td>UserId</td>
                    <td><input type="text" id="userid"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="Email" id="email"></td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td><input type="text" id="mobile"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" id="password"></td>
                </tr>
                <tr>
                    <td>Password(repeat)</td>
                    <td><input type="password" id="password2"></td>
                </tr>
                <tr>
                    <td><input type="button" value="Signup"></td>
                    <td><input type="reset" value="Clear"></td>
                </tr>
            </table>
            <div>
                <a href="login.html">Already A User, Login Please</a>
            </div>
        </form>
    </body>
</html>